@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #A6728A;
  --color-primary-hover: #CD8BA9;
  --color-secondary: #FFFEFD;
  --color-action: #D4AF37;
  --color-action-hover: #F3CF5A;
  --color-grey: #AAAAAA;
  --color-dark-brown: #2D2525;
  --color-error: #A63C3C;
  --color-success: #6FB39A;

  --font-display: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;
}

@layer components {
  .page-margin {
    @apply lg:mt-12 mx-3 md:mx-8 lg:mx-16;
  }
  .primary-btn {
    @apply cursor-pointer bg-primary px-6 py-1 lg:px-8 lg:py-2 text-secondary rounded-full hover:bg-primary-hover;
  }
  .outline-btn {
    @apply cursor-pointer bg-secondary px-6 py-1 lg:px-8 lg:py-2 border-2 border-primary/40 text-primary rounded-full hover:border-primary;
  }
  .search-input {
    @apply flex gap-1 items-center bg-secondary border border-grey rounded-lg p-2 lg:px-2 max-w-96 lg:max-w-48 w-full;
  }
  .input {
    @apply flex gap-1 items-center bg-secondary border border-grey rounded-lg min-w-64 p-2;
  }
  .h1 {
    @apply font-display text-primary font-bold text-4xl lg:text-6xl
  }
  .h2 {
    @apply font-display text-primary font-bold text-3xl lg:text-5xl
  }
  .h3 {
    @apply font-display text-primary font-bold text-2xl lg:text-4xl
  }
  .h4 {
    @apply font-display text-primary font-bold text-xl lg:text-3xl
  }
  .h5 {
    @apply font-display text-primary font-bold text-lg lg:text-2xl
  }
  .h6 {
    @apply font-display text-primary font-bold text-base
  }
}

@layer utilities {
  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}